<!doctype html>
<html lang="en" data-ng-app="words">

<head>
  <meta charset="utf-8">
  <title>Sight Words</title>
  <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="app.css" />
</head>

<body data-ng-controller="WordController as vm">

  <div class="jumbotron">
    <div class="container">
      <h1>{{vm.word}}</h1>
      <button class="btn btn-primary btn-lg" ng-click="vm.getCard()">Yes »</button>
    </div>
  </div>
<!--   <ul data-ng-repeat="card in vm.prek">
    <li>{{card.word}}</li>
  </ul> -->

  <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
  <script type="text/javascript" src="app.js"></script>  
</body>
</html>