<!doctype html>
<html lang="en" data-ng-app="words">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Sight Words</title>
  <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="app.css" />
</head>

<body data-ng-controller="WordController as vm">

  <div class="container">
    <h1>{{vm.word}}</h1>
    <button class="btn btn-primary btn-lg" ng-click="vm.getCard()">{{vm.caption}} »</button>
    <span ng-hide="vm.wordNo <= 0">Word {{vm.wordNo}} of {{vm.count}}</span>
    <button class="btn btn-success" ng-click="vm.getHint()" ng-show="vm.cardHasSound()">Hint</button>
  </div>
  
  <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
  <script type="text/javascript" src="app.js"></script>  
</body>
</html>